{% extends 'base.html' %} 
{% block title %} {{ obj.first_name }} {% endblock title %} 

{% block content %}
    <h1>My Profile</h1>
    <hr />
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui link cards">
                <div class="card">
                    <div class="image">
                        <img src="{{ obj.user_icon.url }}" />
                    </div>
                    <div class="content">
                        <div class="header">
                            {{ obj.first_name }} {{ obj.last_name }}
                            <button class="circular ui icon button" id="update_profile_modal">
                                <i class="icon settings"></i>
                            </button>
                        </div>
                        <div class="meta">
                            <a href="">
                                <img src="{{ obj.country.flag }}" alt="">
                                {{ obj.country }}
                            </a>
                            <a><small>{{obj.slug}}</small></a> <br>
                            <small>
                                Joined in {{ obj.created.year }}
                            </small>
                        </div>
                        <div class="description">
                            <i class="comment alternate outline icon"></i>
                            {{ obj.bio }}
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="floated right" style="position: absolute; right: 10px;">
                            <i class="thumbs up outline icon"></i>
                            {{ obj.num_of_likes_received }} Like{{ obj.num_of_likes_received|pluralize }} Earned
                        </span>
                        <span>
                            <i class="user icon"></i>
                            {{ obj.get_friends.count }} Friend{{ obj.get_friends.count|pluralize }}
                        </span>
                    </div>
                    <div class="extra content">
                        <span class="floated right" style="position: absolute; right: 10px;">
                            <i class="thumbs up outline icon"></i>
                            {{ obj.num_of_liked_posts }} Like{{ obj.num_of_liked_posts|pluralize }}
                        </span>
                        <span>
                            <i class="file icon"></i>
                            {{ obj.num_of_posts }} Post{{ obj.num_of_posts|pluralize }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            {% if confirm %}
                <div class="ui green message">
                     <i class="close icon"></i>
                     <div class="header">
                         Your Profile is Now Updated
                     </div>
                </div>
            {% endif %}
            <div class="ui placeholder segment">
                  <div class="ui icon header">
                    <i class="pdf file outline icon"></i>
                    No documents are listed for this customer.
                  </div>
                  <div class="ui primary button">Add Document</div>
            </div>
            {# Update Profile Modal #}
            <div class="ui modal">
                  <i class="close icon"></i>
                  <div class="header">
                      Update Profile Details
                  </div>
                  <div class="image content">
                        <div class="ui medium image">
                          <img src="{{ obj.user_icon.url }}">
                        </div>
                        <div class="description">
                              <form class="ui form" action="" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  {{ form.as_p }}
                        </div>
                  </div>
                  <div class="actions">
                        <div class="ui black deny button">
                            Nope
                        </div>
                        <button type="submit" class="ui positive right labeled icon button">
                            UPDATE PROFILE
                            <i class="checkmark icon"></i>
                        </button>
                      </form>

                  </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {# Hide message on click #}
        $('.message .close').on('click', function() {
            $(this).closest('.message').transition('fade');
        });
        {#  Show modal  #}
        $('#update_profile_modal').on('click', function() {
            $('.ui.modal').modal('show');
        })
    </script>
{% endblock %}